html {
    background-image: url("../img/spaceBackground.jpg");
    background-color: midnightblue;
    color: floralwhite;
    font-family: "monospace", serif;
    padding: 1em;
}

p {
    padding: .5em;
    background-color: darkslateblue;
    opacity: .7;
    filter: alpha(opacity=70);
}

#title {
    font-family: "monospace", serif;
    font-style: italic;
    font-size: 90px;
}

#results {
    font-size: 35px;
}


#ticTacToeBoard {
    color: white;
}

.gameDiv {
    height: 225px;
    width: 225px;
    font-size: 75px;
    text-align: center;
    background-color: darkslateblue;
    opacity: .8;
    filter: alpha(opacity=80);
}

.nonGameButtons {
    width: 170px;
    height: 50px;
    font: bold 20px monospace;
    color: floralwhite;
    background-color: darkslateblue;
    opacity: .8;
    filter: alpha(opacity=80);
}
