html {
    background-color: #7cc4ff;
    color: floralwhite;
    font-family: "Calibri Light", serif;
    padding: 1.5em;
}

.gameDiv{
    height: 225px;
    width:225px;
    font-size: 100px;
    text-align: center;
    background-color: aquamarine;
}